.header {
    /*width: 1100px;*/
    /*min-height: 293px;*/
    padding: 92px 50px 96px 50px;
    /*margin: 0 auto;*/
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
}

.header__menu {
    /*justify-content: start;*/
}

.header__links-list {
    display: flex;
    gap: 30px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
}

.header__logo {
    width: 148px;
    max-height: 105px;
    /*justify-content: center;*/
}

.header__logo-image {
    width: 100%;
}

.address {
    /*justify-content: end;*/
    padding-left: 184px;
    font-style: normal;
}

.cover {
    color: #FFFFFF;
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*position: relative;*/
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title,
.cover__description,
.card__title,
.card__text {
    position: relative;
    z-index: 2;
}

.cover__title {
    font-size: 100px;
    letter-spacing: 0.3em;
}

.aligned-text {
    display:block;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
    margin-left: 34px;
}

.aligned-text_right {
    text-align: right;
    margin-top: 20px;
    margin-right: -34px;
}

.cover__description {
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: flex;
    align-items: center;
}

.cover__description-text {
    margin-right: 107px;
    word-spacing: 18px;
}

.bet-button{
    background-color: transparent;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 12px 32px 11px 31px;
    margin-left: auto;
}

.lots {
    margin: 0 24px 120px 24px;
    /*min-height: 723px;*/
}

.lots__heading {
    font-size: 40px;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color:#FFFFFF;
    display: flex;
    gap: 25px; 
    justify-content: space-between;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    margin: 0; 
}

.card {
    position: relative; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-link {
    display: block;
    height: 100%; 
    text-decoration: none;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture{
    background-image: url('../images/card-lot-03.jpg');
}

.card__text {
    font-size: 20px;
}

.card__title {
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;

}

.lots__look-more-link {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 40px;
    text-decoration:underline;
}

.about {
    margin: 120px 24px 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    column-gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47px;
    margin-right: 72px;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    padding-right: 13px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 133px;
    margin-bottom: 100px;
}

.about__text-content {
    margin-top: 0;
    margin-bottom: 13px;
}

.about__text {
    font-size: 20px;
    line-height: 1.4;
}

.about__text_paragraph-1 {
    margin-bottom: 24px;
}

.footer__menu-list, 
.footer__social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    margin: 180px auto 0 auto;
    width: 1100px; 
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 92px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    font-style: normal;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}

.footer__address {
    font-size: 18px; 
    line-height: 1.3;
    padding-left: 50px;
    font-style: normal;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000; /* Подчеркивание для ссылок */
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}



